<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>AdminHome</title>
<link rel="stylesheet" href="adminhome.css">
</head>
<body >
 <h1>Welcome To Admin Home</h1>
<!-- Navigation Bar -->
<nav>
  <a href="/map-songs">ADD SONGS</a>
  <a href="/map-viewsongs">VIEW SONGS</a>
  <a href="/createplaylist">CREATE PLAYLIST</a>
  <a href="/viewPlaylists">VIEW PLAYLIST</a>
   <a href="/map-home">HOME</a>
</nav>
<p>
  Songs are a universal form of expression, weaving together melody and lyrics to create a powerful narrative that resonates with listeners on emotional and intellectual levels. Each song is like a miniature story, with its own unique message, mood, and atmosphere. From upbeat anthems that make you want to dance, to soulful ballads that tug at your heartstrings, songs have the ability to evoke memories, spark inspiration, and provoke introspection. Whether it's through the raw emotion of a singer's voice, the intricate arrangement of instruments, or the clever wordplay of the lyrics, songs have the power to transcend barriers and connect people from all walks of life. They serve as a soundtrack to our lives, accompanying us through moments of joy, sorrow, love, and everything in between. In essence, songs are more than just music – they are a reflection of the human experience, capturing the essence of what it means to be alive.
</p>

</body>
</html>