<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>CustomerHome</title>
<link rel="stylesheet" href="customerhome.css">
</head>
<body>
  <h1>Welcome to Customer </h1>
<!-- Navigation Bar -->

<nav>
 <a href="/map-home">HOME</a>
  <!--  --<a href="/viewsongs">View Songs</a>-->
  <a href="/logout-map">LOGOUT</a>
  <a href="/exploreSongs">EXPLORE SONGS</a>
</nav>
<p>Welcome to Tunehub, where every note finds its perfect harmony with your soul. Dive into a world where music knows no boundaries—where melodies of every genre converge to create an unparalleled symphony of sound. With personalized playlists curated just for you, discover new rhythms that resonate deeply. Whether you're a music aficionado or a casual listener, let Tunehub be your gateway to a sonic adventure like no other. Join us today and let the music ignite your passion
</p>
</body>
</html>