<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="home.css">
</head>
<body>
<h1>Welcome To Home </h1>
<p>"TuneHub" could potentially be a digital platform designed for music enthusiasts, artists, and listeners alike. It might offer features such as streaming services, personalized playlists, artist discovery tools, and community engagement. Users could access a vast library of songs, albums, and playlists across various genres. Additionally, "TuneHub" might incorporate social elements, allowing users to connect with fellow music lovers, share recommendations, and discover new artists through collaborative playlists or forums.
</p>
<a href="/map-register" >REGISTER</a>
<a href="/map-login">LOGIN</a>
</body>
</html>