
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    <title>TuneHub Application</title>
    <link rel="stylesheet" href="index.css">
  </head>
  
  <body>
 <h2>Welcome To TuneHub </h2>
   <ul>
   
  <li> <a href="/map-register" >REGISTER</a></li>
    <li><a href="/map-login">LOGIN</a></li>
    <li><a href="/map-home">HOME</a></li>
    
    </ul>
    <h3 id="context">"Celebrate the diversity of <br>melodies<br> with TuneHub,<br> where every tune sings a story."</h3>
  </body>
  
  </div>
</html>